.idea/
.vscode/
output/
out/
*/.idea/
*.pyc
*.pyo
*.pyd
*/build/
*/node_modules/
*/output/
*/out/
*/target/
*.class
*.jar
*.o
*.iml
.ipynb_checkpoints/
.DS_Store
*/.DS_Store
*.out
**/torresng_rust/debug
.ccls
